<form method="post" action="/register">

    <input type="email" name="email" placeholder="email" id=""><br>
    <input type="password" name="password" placeholder="password" id=""><br>
    <button>signup</button>
</form>


<form method="post" action="/login">

    <input type="email" name="email" placeholder="email" id=""><br>
    <input type="password" name="password" placeholder="password" id=""><br>
    <button>login</button>
</form>